.container{
    text-align: center;
    margin-top: 25px;
}

table{
    margin: auto;
}

input{
    font-size: 20px;
    width: auto;
    border: 2px solid black;
    border-radius: 4px;
    margin-block: 10px;
    padding: 5px;

}

button{
    font-size: 20px;
    background-color: cadetblue;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-weight:bold;
}

.calculator{
    display: inline-block;
    padding: 20px;
    background-color: aqua;
    border-radius: 8px;
    
}